<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0"><%= link_to "Listing",listing_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item border-0"><%= link_to "Price",pricing_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item border-0"><%= link_to "Description",description_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item border-0"><%= link_to "Photo_upload",photo_upload_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item border-0"><%= link_to "Amenities",amenities_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item border-0"><%= link_to "Location",location_room_path,class:"sidebarlist"%></li>
        <li class="list-group-item">
            <hr>
            <%= link_to "Publish","#",class:"btn btn-success btn-block" %>
        </li>
    </ul>
</div>