<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">
            <%= link_to "Listing",listing_room_path,class:"sidebarlist"%>
            <span><i class="fa fa-check"></i></span>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Price",pricing_room_path,class:"sidebarlist"%>
            <%= is_done? (@room.price) %>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Description",description_room_path,class:"sidebarlist"%>
            <%= is_done? (@room.name) %>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Photo_upload",photo_upload_room_path,class:"sidebarlist"%>
            <%= is_done? (@room.photos) %>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Amenities",amenities_room_path,class:"sidebarlist"%>
            <span><i class="fa fa-check"></i></span>
        </li>
        <li class="list-group-item border-0">
            <%= link_to "Location",location_room_path,class:"sidebarlist"%>
            <%= is_done? (@room.address) %>
        </li>
        <li class="list-group-item">
            <hr>
            <%= form_for @room do |f|%>
                <%= f.hidden_field :is_active, value: true %>
                <%= f.submit "publish", class:"btn btn-success btn-block", disabled: is_not_ready?(@room) %>
            <% end %>
            <%#= link_to "Publish","#",class:"btn btn-success btn-block" %>
        </li>
    </ul>
</div>