<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= render "rooms/sidebar" %>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Photo Upload</h4>
                </div>
                <div class="card-body text-center">
                        <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
                            <label class="file-upload mb-3">
                                <%= file_field_tag "images[]", type: :file, multiple: true %>
                            </label>
                            <br>
                            <%= f.submit "Add Photos", class:"btn btn-form btn-info" %>
                        <% end %>
                    <hr>
                    <div id="photos">
                        <%= render "photos/photos_list" %>
                    </div>
                </div>
            </div><%#card end%>            
        </div><%#col-9 end%>
    </div>
</div>