<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <%= image_tag @room.photos.first.image.url, class:"w-100" %>
            
            <%# <%= image_tag room.photos.first.image.url, class:"w-100 h-75" %> 
        </div>
    </div>
    <div class="row">
        <div class="col-8"><%# leftside%>
            <div class="row">
                <div class="col-8">
                    <h2><%= @room.name %></h2>
                    <h5><%= @room.address %></h5>
                </div>
                <div class="col-4 text-center"><%# set in application_helper.rb%>
                    <%= image_tag avatar_url(@room.user),class:"rounded-circle mr-1 w-50" %>
                    <br>
                    <h5><%= @room.user.name %></h5><b class="caret"></b>
                </div>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-3">
                    <i class="fa fa-home fa-3x icons"></i>
                    <h5><%= @room.room_type %></h5>
                </div>
                <div class="col-3">
                    <i class="fa fa-user-alt fa-3x icons"></i>
                    <h5><%= @room.guest_count %> guests</h5>
                </div>
                <div class="col-3">
                    <i class="fa fa-bed fa-3x icons"></i>
                    <h5><%= @room.bedrooms_count %> bedrooms</h5>
                </div>
                <div class="col-3">
                    <i class="fa fa-bath fa-3x icons"></i>
                    <h5><%= @room.bathrooms_count %> bathrooms</h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <h4>About this listing</h4>
                    <p><%= @room.summary %></p>
                </div>
                <div class="col-4">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <h4>Amenities</h4>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="<%= 'line_through' unless @room.has_tv? %>">
                            <h6>TV</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="<%= 'line_through' unless @room.has_kitchen? %>">
                            <h6>KITCHEN</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="<%= 'line_through' unless @room.has_internet? %>">
                            <h6>INTERNET</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="<%= 'line_through' unless @room.has_heating? %>">
                            <h6>HEATING</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="<%= 'line_through' unless @room.has_aircon? %>">
                            <h6>AIRCON</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h4>Reviews</h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                                    <% @room.photos.each do |photo| %>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
                                    <% end %>
                        </ol>
                        <div class="carousel-inner">
                            <% @room.photos.each do |photo| %>
                                <div class="carousel-item <%= 'active' if photo.id == @room.photos.first.id %>">
                                    <%= image_tag photo.image.url, class:"d-block w-100" %>
                                </div>
                            <% end %>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h4>GOOGLEMAP</h4>
                    <div id="map"></div>
                    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDX-8bXEe4mflCd9EroeN01DYOFqcQQPXY"></script>
                    <script>
                        function initialize() {
                            var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                            var map = new google.maps.Map(document.getElementById('map'),{
                                center: location,
                                zoom: 5
                            });
                        
                            var marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                        
                            var infoWindow = new google.maps.InfoWindow({
                                content: '<div id="content"><%= image_tag @room.photos.first.image.url %></div>'
                            });
                        
                            infoWindow.open(map, marker);
                        }
                        
                        google.maps.event.addDomListener(window,'load', initialize);
                    </script>
                </div>
            </div>
            <hr>
            <div class="container"> 
                <h4>Nearbys</h4>
                <div class="row pt-2 mb-5 pb-4">
                    <% if @room.nearbys %>
                        <% for room in @room.nearbys(10) %>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header preview">
                                        <%= image_tag room.photos.first.image.url, width:"220",height:"300",class:"mx-auto"  %>
                                    </div>
                                    <div class="card-body">
                                        <%= link_to room.name, room %> <br/>
                                        (<%= room.distance.round(2) %> kms away)
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-4"><%# --------------------------------rightside-------------------------------------- %>
            <div class="card">
                <div class="card-header">
                    <h4>＄<%= @room.price %><span class="float-right">pernight</span></h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <%= form_for ([@room, @room.reservations.new]) do |f| %>
                                <div class="row">
                                    <div class="col-6">
                                        <%= f.label :check_in %>
                                        <h4><span id="message"></span></h4>
                                        <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control w-100" %>
                                    </div>
                                    <div class="col-6">
                                        <%= f.label :check_out %>
                                        <h4><span></span></h4><%#empty is OK. This is just for layout%>
                                        <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control w-100", disabled: true %>
                                    </div>
                                    <div class="col-12" id="preview" style="display: none;">
                                        <hr>
                                        <div>Price:<b class="float-right">$<%= @room.price %></b></div>
                                        <hr>
                                        <div>Number of Nights:<b class="float-right"><span id="reservation-nights"></span></b></div>
                                        <hr>
                                        <div>Total price:<b class="float-right">＄<span id="reservation-total"></span></b></div>
                                        <hr> 
                                    </div>
                                    <script>
                                            function checkDate(date) {
                                                dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                                                return [$.inArray(dmy, unavailableDates) == -1];
                                            }

                                            $(function() {

                                                unavailableDates = [];

                                                $.ajax({
                                                    url: '<%= preload_room_path(@room) %>',
                                                    dataType: 'json',
                                                    success: function(data) {

                                                        $.each(data, function(arrID, arrValue) {
                                                            for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
                                                                unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
                                                            }
                                                        })
                                                        
                                                        $('#reservation_start_date').datepicker({
                                                            dateFormat: 'dd-mm-yy',
                                                            minDate: 0,
                                                            maxDate: '3m',
                                                            beforeShowDay: checkDate,
                                                            onSelect: function(selected) {
                                                                $('#reservation_end_date').datepicker("option", "minDate", selected);
                                                                $('#reservation_end_date').attr("disabled", false);
                                                                //from here
                                                                var start_date = $('#reservation_start_date').datepicker('getDate');
                                                                var end_date = $('#reservation_end_date').datepicker('getDate');
                                                                var nights = (end_date - start_date)/1000/60/60/24 ;

                                                                var input = {
                                                                    'start_date': start_date,
                                                                    'end_date': end_date
                                                                }

                                                                $.ajax({
                                                                    url: '<%= preview_room_path(@room) %>',
                                                                    data: input,
                                                                    success: function(data) {
                                                                        if (data.conflict) {
                                                                            $('#message').text("These dates are not available.");
                                                                            $('#preview').hide();
                                                                            $('#btn-book').attr('disabled', true);
                                                                        } 
                                                                        else {
                                                                            $('#message').text("");
                                                                            $('#preview').show();
                                                                            $('#btn-book').attr('disabled', false);

                                                                            var total = nights * <%= @room.price %>;
                                                                            $('#reservation-nights').text(nights);
                                                                            $('#reservation-total').text(total);
                                                                        }
                                                                    }
                                                                });
                                                                //to here
                                                            }
                                                        });

                                                        $('#reservation_end_date').datepicker({
                                                            dateFormat: 'dd-mm-yy',
                                                            minDate: 0,
                                                            maxDate: '3m',
                                                            beforeShowDay: checkDate,
                                                            onSelect: function(selected) {
                                                                $('#reservation_start_date').datepicker("option", "maxDate", selected);
                                                                //from here
                                                                var start_date = $('#reservation_start_date').datepicker('getDate');
                                                                var end_date = $('#reservation_end_date').datepicker('getDate');
                                                                var nights = (end_date - start_date)/1000/60/60/24 ;

                                                                var input = {
                                                                    'start_date': start_date,
                                                                    'end_date': end_date
                                                                }

                                                                $.ajax({
                                                                    url: '<%= preview_room_path(@room) %>',
                                                                    data: input,
                                                                    success: function(data) {
                                                                        if (data.conflict) {
                                                                            $('#message').text("These dates are not available.");
                                                                            $('#preview').hide();
                                                                            $('#btn-book').attr('disabled', true);
                                                                        } else {
                                                                            $('#message').text("");
                                                                            $('#preview').show();
                                                                            $('#btn-book').attr('disabled', false);

                                                                            var total = nights * <%= @room.price %>;
                                                                            $('#reservation-nights').text(nights);
                                                                            $('#reservation-total').text(total);
                                                                        }
                                                                    }
                                                                });
                                                                //to here
                                                            }
                                                        });
                                                    }
                                                });
                                            });
                                        </script>
                                        <div class="col-12 mt-2">
                                            <%= f.submit "Book Now", class: "form-control btn-info", id:"btn-book", disabled: true %>
                                        </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div><%#card end%>          
        </div>
    </div>
</div>